force-app/main/default/flows/Lead_Qualification_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Wizard guiado de qualificacao BANT para Leads - automatiza Rating e Status com base nas respostas</description>
    <environments>Default</environments>
    <formulas>
        <name>BANTScore</name>
        <dataType>Number</dataType>
        <expression>IF({!BudgetConfirmed}, 1, 0) +
IF({!AuthorityConfirmed}, 1, 0) +
IF({!NeedIdentified}, 1, 0) +
IF({!TimelineDefined}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Qualification Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Qualification Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BudgetConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AuthorityConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NeedIdentified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TimelineDefined</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QualificationNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <assignments>
        <name>Assign_Cold</name>
        <label>Definir Rating Cold</label>
        <locationX>440</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>NewRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Hot</name>
        <label>Definir Rating Hot</label>
        <locationX>176</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>NewRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Atribuir Campos ao Lead</label>
        <locationX>308</locationX>
        <locationY>630</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>Get_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working - Contacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QualificationNotes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Warm</name>
        <label>Definir Rating Warm</label>
        <locationX>308</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>NewRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_BANT_Score</name>
        <label>Calcular BANT Score</label>
        <locationX>308</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Assign_Cold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score 0-1 (Cold)</defaultConnectorLabel>
        <rules>
            <name>Score_Alto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BANTScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hot</targetReference>
            </connector>
            <label>Score 3-4 (Hot)</label>
        </rules>
        <rules>
            <name>Score_Medio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BANTScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Warm</targetReference>
            </connector>
            <label>Score 2 (Warm)</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Buscar Lead</label>
        <locationX>308</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Screen_BANT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Rating</queriedFields>
        <queriedFields>Description</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Atualizar Lead</label>
        <locationX>308</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Screen_Confirmacao</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_BANT</name>
        <label>Qualificacao BANT</label>
        <locationX>308</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_BANT_Score</targetReference>
        </connector>
        <fields>
            <name>Header_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Qualificacao BANT&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Responda as perguntas abaixo para classificar o Lead automaticamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <label>Orcamento confirmado?</label>
            <name>BudgetConfirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <label>Fala diretamente com o decisor?</label>
            <name>AuthorityConfirmed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <label>Necessidade claramente identificada?</label>
            <name>NeedIdentified</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <label>Prazo de decisao definido?</label>
            <name>TimelineDefined</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <label>Notas de qualificacao</label>
            <name>QualificationNotes</name>
            <dataType>String</dataType>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirmacao</name>
        <label>Qualificacao Concluida</label>
        <locationX>308</locationX>
        <locationY>870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Msg_Sucesso</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Lead qualificado com sucesso!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Rating definido como &lt;strong&gt;{!NewRating}&lt;/strong&gt; com base no score BANT.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>182</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
